img{
    width:100%;
}

.logo{
    position: absolute;
    top:3%;
    right:3%;
    width: 11%;
}

.detalles{
    margin:20px;
    clear:both;
}
.cocinero, h3{
    font-weight: 600;
}

span.label{
    float: right;
}

